{% extends '../base.html' %}


{% block title %}SignUp Page{% endblock %}


{% block content %}
<div class="container pt-5 pb-5">

    <nav style="-bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    
    <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    
    <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
    
    </ol>
    
    </nav>
    
    <h1 class="mb-5">Sign Up</h1>
    
    <div class="card">
    
    <div class="card-body">
        <form method="post">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-success">Sign Up</button>
        </form>
        
    
    </div></div></div>
{% endblock %}